<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<%= form_for @post do |f| %>
<div><%= f.text_field :title %></div>
<div><%= f.text_area :content %></div>
  <%= f.submit %>
<% end %>

<%= link_to "delete", @post, :method => :delete, :confirm => "You sure?", 
                            :title => "Delete #{@post.title}" %>