<h2>Edit Post</h2>

<%= form_for @post do |f| %>
<div>Title:<br><%= f.text_field :title %></div>
<div>Content:<br><%= f.text_area :content %></div>
  <%= f.submit %>
<% end %>

<%= link_to "delete", @post, :method => :delete, :confirm => "You sure?", :title => "Delete #{@post.title}" %>