<div class="post-show"><h3>Add a new Post</h3>

 
 <%= form_for @post do |f| %>
<div><%= f.label :title %><br />
	<%= f.text_field :title %></div>
<div><%= f.label :content %><br />
	<%= f.text_area :content %></div>
  <%= f.submit "Create Post" %>
<% end %>


<%= render 'form' %>

</div>