<h1>Selected post</h1>


<div><%= @post.title %></div>
<div><%= @post.content %></div>



<h2>Add a comment:</h2>
<%= render "comments/form" %>
<%= render "comments/comment" %>

<p><%= link_to 'Back to Posts',  posts_path %></p>



