<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar">

  <%= link_to "Home", root_path, :class => current_class?(root_path) %>

  <% if current_user %>
    <a href='/users/<%= current_user.id %>'><%= current_user.fname %>'s Profile</a>
    <%= link_to "Logout", logout_path, :class => current_class?(logout_path) %>
  <% else %>
    <%= link_to 'Login', login_path,  :class => current_class?(login_path)  %>
    <%= link_to 'Signup', new_user_path,  :class => current_class?(new_user_path)  %>
  <% end %>

	<%= link_to "All Users", users_path, :class => current_class?(users_path) %>

  <div class="nav-date" id="date"></div>
	
</div>

  <body>

  	<%= flash[:message] if flash[:message] %>
    <script>
      setInterval(function() {
        var d = new Date();
        var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        var h = d.getHours();
        var m = d.getMinutes();
        var s = d.getSeconds();
      document.getElementById("date").innerHTML ="It is "+h+":"+m+":"+s+" on a "+days[d.getDay()]+"!";
        }, 1000);
    </script>

    <%= yield %>
  </body>
</html>
