<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar">
	<a href="/">Home</a>

    <% if !current_user %>
    	<a href='/login'>Login</a>
	<% else %>
		<a href='/users/<%= current_user.id %>'><%= current_user.fname %>'s Profile</a>		
	<%end%>

	<a href="/users">All Users</a>


	<% if current_user %>
  	<%= link_to "Logout", '/logout' %>
	<% else %>
  	<%= link_to 'Signup', '/users/new' %>
	<% end %>

	
	
</div>

  <body>

  	<%= flash[:message] if flash[:message] %>
    <%= yield %>
  </body>
</html>
